<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2> Your enquiry has been received </h2>

    <p> You are receiving this email because we received an enquiry from
      your email about our services. </p>

    <p> Our staff will be in contact with you within the next 3 hours. </p>
    <p> Kindly remain patient as we will respond in due time.</p>
    <small> Due to heavy influx of enquiries, it may take more than 3 hours to respond. Kindly remain patient with us 
    as we work to serve you better. </small>
      
    <p>Enquiry Messae: <%= @enquiry.message %> </p>
    
    <br>
 
    <p>For any other information, contact: <h6>desk.beestudio@gmail.com</h6> </p>
  </body>
</html>